body {
    font-family: Arial;
    background-color: #f4f4f4;
}

header, nav, footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
}

section {
    padding: 20px;
}