body {
    font-family: Arial;
    background-color: #f4f4f4;
}

header,footer {
    text-align: center;
    background-color: rgb(20, 29, 104);
    color: white;
    padding: 10px;
}
nav {
    text-align: center;
    background-color: rgb(183, 55, 55);
    color: rgb(212, 178, 178);
    padding: 10px;
}
nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
}

section {
    padding: 20px;
}
.video {
    display: block;
    margin: auto;
}